.playerWin{
    font-weight: bold;
    color: #ff1f1f;
}

.opponetWin{
    font-weight: bold;
    color: #fff419;
}

.player{
    animation-duration: 2s;
    animation-name: slidedown;
}
.opponet{
    animation-duration: 2s;
    animation-name: slidedown;
}

@keyframes slidedown {
    from{
        opacity: 30%;
    }
    to{
        opacity: 100%;
    }
}