#title{
    color: darkblue;
    font-size: 50px;
    font-family: sans-serif;
}
#banner{
    background-color: darkblue;
    height: 150px;
    width: 100%;
}
#holder{
    height: 150px;
}
.box{
    background-color: purple;
    height: 175px;
    width: 325px;
    margin-right: 100px;
    cursor: pointer;
}
.box2{
    background-color: purple;
    height: 175px;
    width: 325px;
    margin-right: 100px;
    cursor: pointer;
}
.line{
    width: 100%;
    height: 175px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}